.button{
    font-family: montserrat-semibold;
    font-size: 1em;
    border-radius: 8px;
    border: none;
    padding: 10px;
    background-color: rgb(20, 20, 100);
    color:white;
    margin-top: 15px;
}